.prodaja-nekretnina-post-image-container {
    width: 100% !important;
    max-width: 100% !important;
    overflow: hidden !important;
    margin: 0 auto 10px auto !important;
    display: block !important;
}

.prodaja-nekretnina-post-image {
    height: 200px !important;
    width: auto !important;
    max-width: 100% !important;
    object-fit: contain !important;
    display: block !important;
    margin: 0 auto !important;
}
